<!doctype html>
<html> 
<head>
<!--  CSS AND JAVASCRIPT HERE  -->
    <title>Ratings</title>
</head>

<body>
  

        {% if "user" in session %}
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login">login</a>
        {% endif %}

            

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {%for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

 
    <h2>CJ RATINGS</h2> 

    <hr>

    {% block content %} put your content here {% endblock %}


</body>
</html>